@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', arial;
    background: #060609;
  }


ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
}
a {
    text-decoration: none;
}
img{width: 100%;}

.error{
    color: #ff3f80;
    font-size: 14px;
}
.panelbuttons{
    text-decoration: none;
    background: #5ae4ca;
    color:white;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
}

.nav-container {
    background: #060609;

    a {
        color: white;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    ul{
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
}

.hero{
    background: #060609;
    color: white;
    display: grid;
    text-align: center;
}
.content > p{
    color: #8F8F8F;
}
.content{
    padding: 0em 2em;
}

.actionbuttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;

    button{
        background: transparent;
        border: 1px solid #D4D4D4;
        color: #D4D4D4;
        padding: 0.7em 1.6em ;
        text-transform: uppercase;
        font-size: 18;

    }
}


section{
    padding: 4em 2em;
    text-align: center;
    margin-top: 5em;
}

.subtitle{
    color: #FF6868;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2em;
    font-size: .85em;
}

.portfolio-menu{
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-bottom: 3em;
}
    
.portfolio-items{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    width: 100%;
}

.portfolio-title{
    font-weight: 600;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.portfolio-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    button{
        display: inline;
        padding: .5em 0em;
        color: #555;
        text-transform: uppercase;
        font-size: 0.9em;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
    }

    button.active{
        color: #A7A7A7;
    }
}




@media only screen and (min-width: 800px){

    section, .hero{
        text-align: left;
    }

    .actionbuttons{
        display: block;
    }
    button{
        margin-right: 3em;
    }
    header{
        margin-left: 3em;
    }

    .portfolio-menu{
        display: flex;
        text-align: left;
        flex-direction: row;
        margin-bottom: 3em;
    }
    
    .portfolio-items{
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 40px;
        grid-column-gap: 40px;
        width: 100%;

    }
    

    @media only screen and (min-width: 1050px){
        body{
            max-width: 1920px;
            margin: auto;
        }


    }
}